@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hero{
  min-height: 40vh;
}

#mouse{
  border: solid 5px black
}

#scroll-text{
  opacity: 0;
}

#gradient-text{
  background-size:300% ;
  animation: gradient-animation 5s infinite alternate;
}

@keyframes gradient-animation{
  0%{background-position: left;}
  100%{background-position: right;}
}

#nav{
  background-color: #f1f1f1;
}





